:root {
  --bg-settings: rgba(51,51,51,0.85);
  --bg-page: #333;
  --bg-card: #FDF5E6;
  --bg-info: #CDD2C1;
  --bg-fish: #2196F3;
  --bg-bugs: #4CAF50;
  --bg-creatures: #BE3A25;

  --bg-set: #EEE;
  --fg-set: #000;

  --fg-color-1: #000;
  --fg-color-2: #FFF;

  --fg-border-1: rgba(150,150,150,0);
  --fg-border-2: rgba(51,51,51,0.5);

  --img-opacity: 1;
  --img-sm: 64px;
  --img-md: 96px;
  --img-lg: 128px;

  /* schedule brightness */
  --s-bright: 1;
  /* schedule cell colors */
  --s-notappear: rgba(255,255,255,.2);
  --s-appear: #999;
  /* schedule border colors */
  --s-default: #fff;
  --s-current: #000;
  --s-daytime: #f8b195;
  --s-nighttime: #6c5b7b;
  --s-winter: #6ba1ff;
  --s-spring: #86ff6b;
  --s-summer: #ff6b86;
  --s-fall: #ffa96b;
}

[data-theme="dark"] {
  --bg-settings: rgba(0,0,0,0.85);
  --bg-page: #000;
  --bg-card: #000;
  --bg-info: #000;
  --bg-fish: #000;
  --bg-bugs: #000;
  --bg-creatures: #000;

  --bg-set: #BBB;
  --fg-set: #222;

  --fg-color-1: #aaa;
  --fg-color-2: #ccc;

  --fg-border-1: rgba(150,150,150,0.5);
  --fg-border-2: rgba(0,0,0,0.5);

  --img-opacity: .8;

  /* schedule */
  --s-bright: .6;
  --s-notappear: rgba(55,55,55,.1);
  --s-appear: #666;
  --s-current: #fff;
}

body {
  font: 1em "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  background-color: var(--bg-page);
  color: var(--fg-color-3);
  user-select: none;
  text-align: center;
}

h3 {
  font-size: 1.2em;
  line-height: 1em;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 3.5em;
  background-color: var(--bg-settings);
  color: var(--fg-color-2);
  display: inline-block;
  z-index: 9;
  text-shadow: 0 0 5px black;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.modal {
  display: none;
  background-color: var(--bg-settings);
  color: var(--fg-color-2);
  height: 100%;
  width: 100%;
  margin-top: 3em;
  padding-top: 1em;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
}

.modal-content {
  height: 100vh;
  overflow-y: auto;
  font-size: 1.2em;
  margin-bottom:3em;
}

.modal.open {
  display: flex;
  flex-direction: column;
}

#clock {
  color: var(--fg-color-2);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
#clock * {
  text-shadow: 0 0 5px black;
  margin: 1em 0.25em;
  display: inline-block;
  pointer-events: none;
}

#settings-icon {
  position: absolute;
  top:0;
  right:0;
  text-align: center;
  margin-top: .2em;
  margin-right: .5em;
  font-size: 2em;
  cursor: pointer;
}

#cards {
  padding: 3em .2em;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat( auto-fit, minmax(10em, 1fr) );
  grid-auto-rows: auto;
  column-gap: .5em;
  row-gap: .5em;
}

#cards article {
  display: flex;
  flex-direction: column;
  transition: all 100ms ease;
  padding: .2em;
  background-color: var(--bg-card);
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 0 5px black;
  border: 1px solid var(--fg-border-1);
}

#cards article h3 {
  color: var(--fg-color-2);
  margin: .3em;
  text-shadow: 0 0 3px black;
}

#cards article > * {
  pointer-events: none;
}

#cards article header{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px black;
  padding: .2em;
  border-radius: 2px;
}

.fish header{
  background-color: var(--bg-fish);
}

.bugs header{
  background-color: var(--bg-bugs);
}

.creatures header{
  background-color: var(--bg-creatures);
}

.critter-image {
  width: 64px;
  height: 64px;
  opacity: var(--img-opacity);
  align-self: center;
  margin-top: .2em;
}

.critter-info {
  background-color: var(--bg-info);
  color: var(--fg-color-1);
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  margin-top: .2em;
  padding: .2em;
  border-radius: 2px;
}

.hidden {
  display: none !important;
}

.checked {
  transition: all 200ms ease;
  filter: brightness(.4);
  box-shadow: 0 0 5px transparent;
  border-color: transparent;
}

#offset input, #offset button {
  background-color: var(--bg-set);
}

#offset * {
  padding:  0.1em 0.3em 0.1em;
  border-radius: 4px;
}
#offset button:active {
  filter: brightness(.75);
}

footer * {
  font-family:monospace;
  color: var(--fg-color-2);
  line-height: 2em;
  text-align: center;
}

#version {
  line-height: 0.5em;
  filter: opacity(0.1);
}

.year, .day {
  filter: brightness(var(--s-bright));
  padding: 0.1em;
  height: 1em;
  display: grid;
  align-items: left;

}
.year {
  grid-template-columns: repeat(12,1fr);
}
.day {
  grid-template-columns: repeat(24,1fr);
}
.month, .hour {
  display: grid;
  align-items: start;
  text-align: center;
  border-top: .2em solid var(--s-default);
  background-color: var(--s-notappear);
  border-radius: 1em;
}

.appear {
  background-color: var(--s-appear);
}

.current {
  border-bottom: .2em solid var(--s-current);
}
.daytime {
  border-top-color: var(--s-daytime);
}
.nighttime {
  border-top-color: var(--s-nighttime);
}
.winter {
  border-top-color: var(--s-winter);
}
.spring {
  border-top-color: var(--s-spring);
}
.summer {
  border-top-color: var(--s-summer);
}
.fall {
  border-top-color: var(--s-fall);
}


/* Styles for settings menu */
.setting > * {
  pointer-events: none;
}

#menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-content: center;
  height: 22em;
  text-align:left;
  color: var(--fg-color-2);
}

@media screen and (max-width: 45em) {
  #menu {
    height: 38em;
  }
}
@media screen and (max-width: 25em) {
  #menu {
    height: 60em;
  }
}
  
#settings-menu h2 {
  margin: 0;
  padding: 0 0.4em;
}

.menu-group {
  margin: 0.5em;
  width: 100%;
  max-width: 8em;
  display: grid;
  grid-gap: 0.3em;
  align-content: start;
  grid-auto-rows: auto;
  user-select: none;
  line-height: 1.8em;
}

.setting {
  width: 100%;
  cursor: pointer;
  background-color: var(--bg-page);
  border: 1px solid var(--fg-color-2);
  border-radius: 2px;
  font-size: 1em;
  grid-template-columns: 1.5em auto;
  display: inline-grid;
}

.setting label {
  padding: 0 0.4em;
  background: none;
}

.badge {
  margin-left: 0.4em;
  font-weight: bold;
  text-align: center;
  align-self: center;
  font-size: 0.75em;
  background-color: rgba(255,255,255,0.2);
  border-radius: 2px;
  border: 1px solid;
  height: 1.4em;
  line-height: 1.4em;
}
