:root {
  --bg-settings: rgba(51,51,51,0.85);
  --bg-page: #333;
  --bg-card: #FDF5E6;
  --bg-info: #CDD2C1;
  --bg-fish: #2196F3;
  --bg-bugs: #4CAF50;

  --bg-set: #EEE;
  --fg-set: #000;

  --fg-color-1: #000;
  --fg-color-2: #FFF;

  --fg-border-1: rgba(150,150,150,0);
  --fg-border-2: rgba(51,51,51,0.5);

  --img-opacity: 1;
  --img-sm: 64px;
  --img-md: 96px;
  --img-lg: 128px;
}

[data-theme="dark"] {
  --bg-settings: rgba(0,0,0,0.85);
  --bg-page: #000;
  --bg-card: #000;
  --bg-info: #000;
  --bg-fish: #000;
  --bg-bugs: #000;

  --bg-set: #BBB;
  --fg-set: #222;

  --fg-color-1: #aaa;
  --fg-color-2: #ccc;

  --fg-border-1: rgba(150,150,150,0.5);
  --fg-border-2: rgba(0,0,0,0.5);

  --img-opacity: .8;
}

body {
  font: 1.1em "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  background-color: var(--bg-page);
  color: var(--fg-color-3);
  user-select: none;
  text-align: center;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--bg-settings);
  color: var(--fg-color-2);
  display: inline-block;
  z-index: 9;
  outline: 4px solid var(--fg-border-2);
  text-shadow: 0 0 5px black;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #cards {
  padding-top: 3.5em;
}

#clock {
  color: var(--fg-color-2);
  padding: .5em;
  margin: .5em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
#clock * {
  text-shadow: 0 0 5px black;
  margin: 0 10px 0 10px;
  display: inline-block;
  pointer-events: none;
}

#settings-icon {
  position: absolute;
  top:0;
  right:0;
  text-align: center;
  margin: .2em;
  font-size: 2em;
  cursor: pointer;
}

#settings-menu {
  padding: 0 8px;
}

#cards {
  padding: .2em;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat( auto-fit, minmax(10em, 1fr) );
  grid-auto-rows: auto;
  column-gap: .5em;
  row-gap: .5em;
}

article {
  transition: all 100ms ease;
  align-items: center;
  text-align: center;
  padding: .2em;
  margin: 0;
  background-color: var(--bg-card);
  border-radius: 2px;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: .2em;
  cursor: pointer;
  box-shadow: 0 0 5px black;
  border: 1px solid var(--fg-border-1);
}

article h3 {
  color: var(--fg-color-2);
  margin: .3em;
  text-shadow: 0 0 3px black;
}

#cards article > * {
  pointer-events: none;
}

article header{
  color: var(--fg-color-3);
  box-shadow: 0 0 3px black;
  padding: .2em;
  border-radius: 2px;
}

.fish header{
  background-color: var(--bg-fish);
}

.bugs header{
  background-color: var(--bg-bugs);
}

.critter-image {
  width: 64px;
  height: 64px;
  opacity: var(--img-opacity);
  justify-self: center;
}

.critter-info {
  background-color: var(--bg-info);
  color: var(--fg-color-1);
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: .2em;
  border-radius: 2px;
}

.hidden {
  display:none;
}

.checked {
  transition: all 200ms ease;
  filter: brightness(.4);
  box-shadow: 0 0 5px transparent;
  border-color: transparent;
}

#offset {
  text-align: center;
  margin: 10px 0 20px 10px;
}
#offset input, #offset button {
  background-color: var(--bg-set);
}
#offset h2 {
  margin: 0;
  margin-bottom: 0.2em;
  padding: 0 0.4em;
}
#offset * {
  padding: 10px;
  border-radius: 2px;
}

footer * {
  font-family:monospace;
  color: var(--fg-color-2);
  line-height: 2em;
  text-align: center;
}

#version {
  line-height: 0.5em;
  filter: opacity(0.1);
}

.year {
  padding: 0.1em;
  height: 1em;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  align-items: left;
  grid-gap: 1px;
}
.day {
  padding: 0.1em;
  height: 1em;
  display: grid;
  grid-template-columns: repeat(24,1fr);
  align-items: left;
  grid-gap: 1px;
}
.month, .hour {
  display: grid;
  align-items: start;
  text-align: center;
  border-top: 3px solid white;
  background-color: #ddd;
  border-radius: 2px;
}

.appear {
  background-color: #aaa;
}
.current {
  border-bottom: 3px solid black;
}

.winter {
  border-top-color: #6ba1ff;
}
.spring {
  border-top-color: #86ff6b;
}
.summer {
  border-top-color: #ff6b86;
}
.fall {
  border-top-color: #ffa96b;
}
.daytime {
  border-top-color: #f8b195;
}
.nighttime {
  border-top-color: #6c5b7b;
}


/* Styles for settings menu */
.setting > * {
  pointer-events: none;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 8em);
  grid-auto-rows: auto;
  justify-items: center;
  justify-content:center;
  grid-gap: 1em;
  padding-bottom: 1em;
  font-size: 1.1em;
  text-align: left;
  color: var(--fg-color-2);
}

@media screen and (max-width: 45em) {
  .menu {
    grid-template-columns: repeat(2, 8em);
  }
}

@media screen and (max-width: 23em) {
  .menu {
    grid-template-columns: repeat(1, 8em);
  }
}
  
.menu h2 {
  margin: 0;
  padding: 0 0.4em;
}

.menu-group {
  width: 100%;
  max-width: 8em;
  display: grid;
  grid-gap: 0.3em;
  align-content: start;
  grid-auto-rows: auto;
  user-select: none;
  line-height: 1.8em;
}

.setting {
  width: 100%;
  cursor: pointer;
  background-color: var(--bg-page);
  border: 1px solid var(--fg-color-2);
  border-radius: 2px;
  font-size: 1em;
}

.setting {
  grid-template-columns: 1.5em auto;
  display: inline-grid;
}

.label {
  padding: 0 0.4em;
  background: none;
}
.badge {
  margin-left: 0.4em;
  font-weight: bold;
  text-align: center;
  align-self: center;
  font-size: 0.75em;
  background-color: rgba(255,255,255,0.2);
  border-radius: 2px;
  border: 1px solid;
  height: 1.4em;
  line-height: 1.4em;
}
